body, html{
	font-family: 'Raleway', sans-serif;
	padding:25px 50px;
}

p{
	line-height: 35px;
    margin: 50px 0;
    font-size: x-large;
    font-weight: 100;
}

pre{
	background: #ededed;
	width:100%;
}
.center{
	text-align: center;
	margin:auto;
}

li{
	line-height: 35px;
}

.image{
	width:25%;
}

img{	
	height:25%;
	width:25%
}