body, html{
	font-family: 'Raleway', sans-serif;
	padding:25px 50px;
	width:1024px;
	margin:auto;
}

p{
	line-height: 35px;
    margin: 50px 0;
    font-size: x-large;
	font-weight: 100;
	max-width:600px;
}

pre{
	background: #efefef;
	width:100%;

	padding:25px;
	text-wrap: balance;
}
.center{
	text-align: center;
	margin:auto;
}

.notes{
 font-size: initial;
}

li{
	line-height: 35px;
}

.image{
	width:25%;
}

.small-image{
	width:15%;
}

a{
	color:#da5006
}

a:hover{
	color:#3f3f3f;
	font-weight: bolder;
	text-decoration: none;
}

a:visited{
	color:#3f3f3f
}

a:active{
	color:#da5006
}

a .small-image{
	border:none;
}

h4{
	font-weight: bolder;
	text-decoration: underline;
	text-underline-offset: 3px;
}

